body {
    background-color: #0aabc0;
    margin-top: -50px;
}

.container {
    padding: 10px;
}

.card-columns {
    column-count: 3;
    margin-top: -40px;
}

.card{
    width: 350px;
    height: 340px;
    background-image: linear-gradient(163deg, #00ddff 0%, #002cc9 100%);
    border-radius: 20px;
    transition: all .3s;
    border: none;
}

.card2 {
    width: 360px;
    height: 350px;
    border-radius:20px;
    transition: all .4s;
}

.card2:hover {
    transform: scale(0.95);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.jumbotron {
    background-color: #0aabc0;
    color: #fff;
    margin-bottom: 10px;
}

.jumbotron p, .jumbotron h1 {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 25px;
}

.arrotonda{
    border-radius: 25px;
}

p{
    text-align: justify;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

iframe{
    border: none;
}